.container {
    margin: 50px auto;
    text-align: left;
    font-family: sans-serif;
}


#HomeBanner{
    border: solid black 1px;
    height: 200px;
}
#center {
    text-align: center;
}

.main_menu{
    padding-top: 15px;
    text-align: center;
    line-height: 32px;
    border: solid black 0.5px;
    background-color: #f3f4f7;
    width: 100%;
    height: 60px;

}

.main_menu li{
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 20px;
}

.main_menu a{
    text-decoration: none;
    color:  black;
    padding: 8px;
    font-variant: small-caps;
}

.main_menu a:hover{
    color: orange;
}

.form {
    border: 1px black solid;
    padding: 40px 50px 45px;
}
.form-control:focus {
    border-color: #000;
    box-shadow: none;
}
label {
    font-weight: 600;
}
.error {
    color: red;
    font-weight: 400;
    display: block;
    padding: 6px 0;
    font-size: 14px;
}
.form-control.error {
    border-color: red;
    padding: .375rem .75rem;
}


.table {
    border: 1px black solid;
    text-align: left;
}
.stijl-text{
    margin-right: 50%;
}
